body {
    background-color: darkkhaki;
}

h1 {
    color: blue;
    border: 5px solid black;
    display:flex;

}

.header1 {
    font-weight: bold;
    font-size: larger;
    color: violet;
    
    background-color: blue;
    border: 2px solid black;
    border-width: 2px;
    border-color: black;
    padding: 2px;
}

.header2 {
    font-weight: bold;
    font-size: larger;
    color: yellow;
    border: 2px solid black;
    
    background-color: red;
    border-width: 2px;
    border-color: black;
    padding: 2px;

}

.parte1 {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 5%;
    padding: 5%;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid black;
    border-width: 5px;
    border-color: black;
    padding: 5px;
}

.parte2 {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 5%;
    padding: 5%;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid black;
    border-width: 5px;
    border-color: black;
    padding: 5px;
}

#img1 {
    display: block;
    margin: 0 auto;
}

.parte3 {
    font-size: 1.5em;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 5%;
    padding: 10px;
    width: 100px;
    height: auto;
    gap: 20%;    
}

p {
    flex-direction: row;
}

nav{
    color: blue;
    font:bold;
    font-size: larger;
}